volumes:
  pg_data:
  redis_data:
  mongo_data:
  rabbitmq_data:
  zookeeper_data:
  kafka_data:
  prometheus_data:
  grafana_data:
  loki_data:

services:
  db:
    image: postgres:13.10
    container_name: db
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file: .env
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    env_file: .env
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    env_file: .env
    volumes:
      - kafka_data:/var/lib/kafka/data

  zipkin:
    image: openzipkin/zipkin:latest
    container_name: zipkin
    ports:
      - "9411:9411"

  book-service:
    build:
      context: ../..
      dockerfile: Module_12/flower/Dockerfile
    container_name: book-service
    env_file: .env
    depends_on:
      - db
      - redis
      - mongo
      - rabbitmq
      - kafka
    ports:
      - "8000:8000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fastapi.rule=Host(`localhost`)"
      - "traefik.http.routers.fastapi.entrypoints=web"

  order-worker:
    build:
      context: ../..
      dockerfile: Module_12/flower/Dockerfile
    container_name: order-worker
    env_file: .env
    depends_on:
      - db
      - redis
      - rabbitmq
    ports:
      - "8001:8001"
    command: ["celery", "-A", "app.worker_service.celery_app", "worker", "--loglevel=info"]

  analytics-worker:
    build:
      context: ../..
      dockerfile: Module_12/flower/Dockerfile
    container_name: analytics-worker
    env_file: .env
    depends_on:
      - kafka
      - mongo
    ports:
      - "8002:8002"
    restart: always
    command: ["python", "-m", "app.kafka.analytics_worker"]

  flower:
    build:
      context: ../..
      dockerfile: Module_12/flower/Dockerfile
    container_name: flower
    env_file: .env
    depends_on:
      - rabbitmq
      - order-worker
    ports:
      - "5555:5555"
    command: ["celery", "-A", "app.worker_service.celery_app", "flower", "--port=5555"]

  traefik:
    image: traefik:v3.6.1
    container_name: traefik
    command:
      - "--configfile=/etc/traefik/traefik.prod.toml"
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.prod.toml:/etc/traefik/traefik.prod.toml:ro
    depends_on:
      - book-service
      - zipkin

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    depends_on:
      - book-service
      - order-worker
      - analytics-worker

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - ./promtail.yml:/etc/promtail/config.yml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
    env_file: .env
    depends_on:
      - prometheus
      - loki
