volumes:
  pg_data:
  redis_data:
  mongo_data:
  rabbitmq_data:
  zookeeper_data:
  kafka_data:

services:
  db:
    image: postgres:13.10
    container_name: db
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file: .env
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    env_file: .env
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    env_file: .env
    volumes:
      - kafka_data:/var/lib/kafka/data

  zipkin:
    image: openzipkin/zipkin:latest
    container_name: zipkin
    ports:
      - "9411:9411"

  book-service:
    build:
      context: ../..
      dockerfile: Module_11/gather/Dockerfile
    container_name: book-service
    env_file: .env
    depends_on:
      - db
      - redis
      - mongo
      - rabbitmq
      - kafka
    ports:
      - "8000:8000"

  order-worker:
    build:
      context: ../..
      dockerfile: Module_11/gather/Dockerfile
    container_name: order-worker
    env_file: .env
    depends_on:
      - db
      - redis
      - rabbitmq
    command: ["celery", "-A", "app.worker_service.celery_app", "worker", "--loglevel=info"]

  analytics-worker:
    build:
      context: ../..
      dockerfile: Module_11/gather/Dockerfile
    container_name: analytics-worker
    env_file: .env
    depends_on:
      - kafka
      - mongo
    restart: always
    command: ["python", "-m", "app.kafka.analytics_worker"]

  gateway:
    build:
      context: ../..
      dockerfile: Module_11/gather/Dockerfile
    container_name: gateway
    env_file: .env
    depends_on:
      - book-service
    ports:
      - "8080:8080"
    command: ["uvicorn", "gateway.main:app", "--host", "0.0.0.0", "--port", "8080"]
