apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-worker
  labels:
    app: analytics-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-worker
  template:
    metadata:
      labels:
        app: analytics-worker
    spec:
      containers:
      - name: analytics-worker
        image: fastapi-book-service:k8s
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8002
          name: metrics
        command: ["python", "-m", "app.kafka.analytics_worker"]
        envFrom:
        - configMapRef:
            name: analytics-worker-config
        - secretRef:
            name: app-secrets
