apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker
  labels:
    app: celery-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-worker
  template:
    metadata:
      labels:
        app: celery-worker
    spec:
      containers:
      - name: celery-worker
        image: fastapi-book-service:k8s
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8001
          name: metrics
        command: ["celery", "-A", "app.worker_service.celery_app", "worker", "--loglevel=info"]
        envFrom:
        - configMapRef:
            name: celery-worker-config
        - secretRef:
            name: app-secrets

