apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-gateway
  labels:
    app: fastapi-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi-gateway
  template:
    metadata:
      labels:
        app: fastapi-gateway
    spec:
      containers:
      - name: traefik
        image: traefik:v3.6.1
        args:
          - --api.insecure=true
          - --api.dashboard=true
          - --entrypoints.web.address=:8080
          - --entrypoints.traefik.address=:8081
          - --log.level=INFO
        ports:
        - containerPort: 8080
          name: web
        - containerPort: 8081
          name: traefik
