volumes:
  pg_data:
  redis_data:
  mongo_data:
  rabbitmq_data:

services:
  db:
    image: postgres:13.10
    container_name: db
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file: .env
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
  
  celery:
    build:
      context: ../..
      dockerfile: Module_9/beat/Dockerfile
    container_name: celery
    env_file: .env
    depends_on:
      - rabbitmq
      - redis
    volumes:
      - .:/app

  celery-beat:
    build:
      context: ../..
      dockerfile: Module_9/beat/Dockerfile
    command: celery -A worker_service.celery_app beat --loglevel=info
    container_name: celery-beat
    env_file: .env
    depends_on:
      - rabbitmq
      - redis
    volumes:
      - .:/app
