name: CI

on:
  push:
    branches:
      - feature/TASK-1609-actions-7

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run tests
        run: pytest Module_15/action/tests/ -v
      
      - name: Build Docker image
        run: |
          docker build -t book-service:latest -f Module_15/action/Dockerfile .
